name: PHP Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  Scan-Build:
    runs-on: ubuntu-latest

    # GitHub token permissions
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6.0.0
    
    - name: PHP Syntax Checker (Lint)
      uses: StephaneBour/actions-php-lint@8.4
      with:
          dir: ./
